<launch>
	<arg name="custom_amcl_launch_file" default="$(find navigation_stack)/launch/amcl.launch"/>

	<!-- Include the robot launch file -->
    <include file="$(find mome)/launch/mome_gazebo.launch" />

    <!-- World File -->
	<arg name="world_file" default="$(find mome)/worlds/house.world"/>
    
	<!-- Launch Gazebo World -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="use_sim_time" value="true"/>
		<arg name="verbose" value="false"/>
		<arg name="debug" value="false"/>
		<arg name="gui" value="true" />
		<arg name="world_name" value="$(arg world_file)"/>
	</include>

	<include file="$(arg custom_amcl_launch_file)">
		<arg name="base_link_name" value="body_link"/>
		<arg name="map_file" value="$(find mome)/images/house_map.yaml"/>
	</include>

	<include file="$(find navigation_stack)/launch/includes/move_base.launch.xml">
		<arg name="base_frame_id" value="body_link"/>
		<arg name="odom_topic" value="/odom" />
		<arg name="odom_frame_id" value="odom"/>
		<arg name="cmd_vel_topic" value="/cmd_vel" />
		<arg name="custom_param_file" value="$(find navigation_stack)/param/r200_costmap_params.yaml"/>
	</include>

	<node name="rviz" pkg="rviz" type="rviz" respawn="false"
			args="-d $(find navigation_stack)/rviz/navigation.rviz"/>
</launch>